<head>
  {% if page.title %}
    <title>{{ page.title }} | Shop online</title>
  {% else %}
      <title>Order cakes online Fiji | Cupcakes, Brownies, Donuts, Pastries | Shop online </title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="Ryle's Kitchen site.">
  {% endif %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="robots" content="index,follow">
  <meta name="keywords" content="Fiji cakes, find local baker; locate local baker; area bakers; find home bakers; cottage bakers; find local cottage bakers; baked goods; specialty cakes; find a cake baker; desserts; baking tools; recipes; baking tips; baking equipments; aprons; cookies; cupcakes; cakes; brownies; pastries; designer cakes; designer cookies; frosting; pies; strawberries; chocolate dipped strawberries; pumpkin pie; chocolate; sugar cookies; local bakers; home baked; chefs; bakeries; baked gifts; gifts; chocolate indulgence; cappuccino creme; red velvet; limoncello; yema caramel; choco mocha crunch; black forest; carrot cake; purple yam; pandan cake; rocky road; sansrival; vanilla; chocolate fudge; lemon; cookies and cream; coffee; classic cakes; crunchie; twix; triple chocolate; snickers;">

  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Order cakes online Fiji | Cupcakes, Brownies, Donuts, Pastries | Shop online">
  <meta property="og:description" content="The Best delicious Cakes, cupcakes, brownies, pastries for any occasion. Order cake online in Fiji.">
  <meta property="og:url" content="https://ryleskitchen.com">
  <meta property="og:site_name" content="Ryle's Kitchen">
  <meta property="">
  <meta property="og:article:tag" content="find area bakers">
  <meta property="og:article:tag" content="find bakeries">
  <meta property="og:article:tag" content="find bakers in my area">
  <meta property="og:article:tag" content="find cottage bakers">
  <meta property="og:article:tag" content="find bakers">
  <meta property="og:article:tag" content="find local bakers">
  <meta property="og:article:section" content="Local Baker">
  <meta property="og:image" content="https://www.ryleskitchen.com/images/rylesLogoFinal.png">
  <meta property="og:image:alt" content="Order cakes online Fiji | Cupcakes, Brownies, Donuts, Pastries | Shop online">

  <meta name="twitter:description" content="The Best delicious Cakes, cupcakes, brownies for a Happy Birthday or Special Occasion.">
  <meta name="twitter:title" content="Order cakes online Fiji | Cupcakes, Brownies, Donuts, Pastries | Shop online">
  <meta name="p:domain_verify" content="4ca7ccf04e51ea271b103d36761cd703"/>
  <meta name="yandex-verification" content="12b05e8a448514f3" />


  <!-- Google Fonts -->


  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script:700" type="text/css">

 
  
  <link rel="icon" href="images/rk-favicon.png">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/about.css">

  
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>