<div class="container px-0 pb-5">
     <div class="container px-0"> 
      <div class="row flex-lg-row-reverse align-items-center title g-5 pb-5 m-0">
          <div class="col-lg-6 mt-3">

            <div id="carouselDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/rylesLogoFinal.png" alt="First slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake3.jpg" alt="Second slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake4.jpg" alt="Third slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake5.jpg" alt="Fourth slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </div>
              <a href="#carouselDark" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a href="#carouselDark" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

          </div>

          <div class="col-lg-6 ps-lg-0">
  
            <h1 class="display-5 fw-bold 1h-1 mb-3 ">Live the sweet life!</h1>
            <p class="text-light"><em>A Filipino-inspired sweets/pastries for the most discerning	sweet tooth. We offer custom cakes, celebration cakes, cupcakes, brownies, donuts, cake pops, french macaroons, decorated cookies, chocolate dipped pretzels and decorated krispy treats!</em></p>

            <div class="button-title pt-5">
            <a class="btn btn-outline-light btn-lg me-2" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScroll" aria-controls="offcanvasScroll" id="faqs">How it works!</a>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScroll" aria-labelledby="offcanvasScrollLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title text-primary" id="offcanvasScrollLabel">HOW TO ORDER</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body text-secondary">
                <p><strong>1.</strong> Click quote now and fill up your order. <br><strong>2.</strong> Find some pics for the design of your cake or select one directly from my page. <br><strong>3.</strong> Let us know if you'd like a birthday topper ordered for your cakes or what you would like the cupcakes topped with. <br><strong> 4. </strong>For cupcakes choose your base and buttercream flavours. <br> <strong> 5. </strong>Pick a date and time to collect. <br><strong> 6. </strong>Send us a direct message and submit the form and we will contact you!</p>   <br>
                <blockquote class="text-primary blockquote"><p id="offcanvasScrollLabel">Important notes for cakes:</p></blockquote><br>
                <figcaption class="blockquote-footer">Cakes birthday topper<cite title="Source Title"> = $3.00</cite></figcaption>
                <figcaption class="blockquote-footer">Tiered cakes stacking fee<cite title="Source Title"> = $30.00</cite></figcaption>
                <figcaption class="blockquote-footer">Extra decorating fee may apply.</figcaption>
                <figcaption class="blockquote-footer">All prices stated applies only to standard cakes.</figcaption>
                <blockquote class="text-primary blockquote"><p id="offcanvasScrollLabel">Important notes for cupcakes and brownies:</p></blockquote><br> 
                <figcaption class="blockquote-footer">Word topper for cupcakes<cite title="Source Title"> = 0.50 Each</cite></figcaption>
                <figcaption class="blockquote-footer">Picture topper<cite title="Source Title"> = $1.00 Each</cite></figcaption>
                <figcaption class="blockquote-footer">Fondant topper<cite title="Source Title"> = $4.00 Each</cite></figcaption>
                <figcaption class="blockquote-footer">Cupcakes and brownies minimum order is <cite title="Source Title">6pcs</cite></figcaption>

              </div>
                         
            </div>
            
            <a class="btn btn-outline-light btn-lg" href="#pricing">Quote Now</a>
            </div>

          </div>

        </div>
      </div>
    </div>